@media screen and (max-width: 769px) {
  .menu {
    width: fit-content;
    padding: 0 40px;
    display: none;
    flex-direction: column;
    transition: right 0.3s ease;
    position: absolute;
    display: none;
    background: rgb(8,28,41);
    width: fit-content;
    top: 62px;
    right: 0;
   
    width: 100%;
    text-align: left;
  } 
  .menu-1{
    display: flex;
    justify-content: space-around;
  }
  .bentrong{
    flex-direction: column;
  }
  .absolute{
    display: none;
  }
  .container-7{
    flex-direction: column;
  }
  .tuduy{
    width: 100%;
  }
 
  .hangdoc{
    
  }
  ul.menu a {
    padding: 0;
    
  }
  .container-2,
  .container3 {
    flex-direction: column;
  }
  .hangdoc {
    display: none;
  }
  .cay,
  .skill1,
  .skill2,
  .CHALLENGES-1 {
    flex-direction: column;
  }
  .skill {
    padding: 20px;
  }
  .anh10::before {
    display: none;
    
  }
  .anh9::before {
    display: none;
  }
  .CHALLENGES-1-chu {
    display: flex;
    justify-content: center;
  }
  .anh10,
  .anh9 {
    justify-content: center;
  }
  .noidung1 ul li {
    line-height: 24px;
  }
  .mail {
    z-index: 0;
  }
  .fotter-duoi {
    flex-direction: column;
    align-items: center;
  }
  .fotter-duoi p {
    margin-bottom: 20px;
  }
  .anh9 {
    justify-content: center !important;
  }
  .noidung9 {
    flex-direction: column;
  }
  
ul.menu a {
  position: relative;
  padding: 9px 2px;
  border-radius: 9px;
}

ul.menu a::after {
  content: "";
  height: 5px;
  width: 0px;
  border-radius: 2px;
  background: rgb(182, 90, 59);
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: all 0.5s ease-in-out;
}
ul.menu a:hover::after {
  width: 50%;
  transform: translateX(100%);
}
ul{
  gap: 0;
}
  
}
@media screen and (max-width: 1025px) {
  .thecuoi {
    white-space: nowrap;
  }
  .logo{
    white-space: nowrap;
  }
  .khanang {
    width: 90px;
    height: 90px;
  }
  .khanang1 {
    margin-top: 45px !important;
  }
  .kinangchuyenmon {
    margin-right: 0;
  }
  .menu-1{
    display: flex;
    justify-content: space-around;
  }
  .menu{
    white-space: nowrap;
    
  }
  .container-2 ,.noidung9{
    flex-direction: column;
  }
  .container-7{
    flex-direction: column;
  }
  #myChart{
    width: 100%;
    height: 100%;
  }
  
  
}
@media screen and (max-width: 431px){
.hangdoc{
  display: none;
}
}
